body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
}


/* Header Section Styles */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 5;
}

.logo {
  padding-left: 30px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: Black;
}


/* Main Section Styles & Layout */

.body {
  display: flex;
  padding-top: 116px;
  margin: 0 auto 78px auto;
  width: 1232px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}


/* Content Images Styles */

.story-image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: White;
  height: 300px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-stories .story-text {
  height: 250px;
}

.lead-story .story-image {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
  text-align: left;
  margin-top: 0;
  width: 630px;
}

.lead-story span {
  margin-left: 20px;
}

.story-image.landscape {
  background-image: url("../images/img-story-2.png");
}

.story-image.photo-shoot {
  background-image: url("../images/img-story-3.png");
}

.story-image.cats {
  background-image: url("../images/img-story-1.png");
}


/* Content Styles */

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.story-text h2 {
  font-size: 30px;
  margin: 0;
}

.story-text p {
  margin-top: 16px;
}

.secondary-stories {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}

.news-bites {
  display: flex;
  flex-direction: column;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

.news-bites span {
  font-family: Verdana;
  font-size: 12px;
  padding: 11px 20px;
  color: DimGray;
  background-color: WhiteSmoke;
  margin: 0;
  border-bottom: 1px solid Black;
}


/* Footer Section Styles */
footer {
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 325px;
  margin: auto;
  background-color: MediumAquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}

.footer-title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}
